
#detailsTable, th, td {
  border: 2px solid rgb(232,232,232);
}

.intro_text {
	background-color: #f8f8f8;
	padding: 5px 35px;
	margin-top: 0;
	margin: 0;
	border: 1px dotted #d5d5d5;
	line-height: 1.4;
  text-align: center
}

.results {
	border-top-style: solid;
	margin-top: 0;
	border-top-color: #f8f8f8;
	color: #343434;
}