
#detailsTable, th, td {
  border: 2px solid rgb(232,232,232);
}

.intro_text {
	background-color: #fcfafa;
	padding: 5px 35px;
	margin-top: 0;
	margin: 0;
	line-height: 1.4;
  text-align: center
}

.results {
	border-top-style: solid;
	margin-top: 0;
	border-top-color: #f8f8f8;
	color: #343434;
}


.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
  }


