.footer {

	text-align: center;
	margin-top: 50px;
	font-size: small;
}

caption {
	color: #000000;
	font-size: 1rem;
}

.device_img {
	width: 50%;
	border-style: solid;
	/*background-color: white;*/
}