.footer {

    text-align: center;
    margin-top: 50px;
    font-size: small;
}

caption {
    color: #000000;
    font-size: 1rem;
}

.control {
    flex: 10%;
    background-color: rgb(248, 255, 215);
    margin-bottom: 5px;


}

.element {

    background-color: rgb(215, 255, 255);
    padding: 10px;
    margin-bottom: 5px;
    flex: 90%;
}

.row {
    display: flex;
}