* {
    font-size: small
}

.footer {

    text-align: center;
    margin-top: 50px;
    font-size: small;
}

caption {
    color: #000000;
    font-size: 1rem;
}

.findings {
    padding-left: 14px;
    padding-right: 14px;
}

.row {
    margin-top: 5px;
    display: flex;
    margin-bottom: 5px;


    background-color: rgb(252, 252, 252);

}

.control {
    flex: 10%;




}

.element {
    padding-left: 5px;
    flex: 90%;
}



h1 {
    font-size: x-large;
    margin: 0px;
    color: rgb(89, 83, 184)
}

h2 {
    font-size: large;
    margin: 0px;
    color: rgb(89, 83, 184)
}

h3 {
    border-top-style: solid;
    background-color: #e6ecf2;
    font-weight: bold;
    border-top-color: #dadada;
    color: #343434;


    font-size: medium;
    margin: 0px;
    margin-top: 20px;
    color: rgb(89, 83, 184)
}