<!-- TODO


-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description" content="Website with clinical prediction tools/calculators/classifications such as ISUIA/PHASES for aneurysms. Also includes a variety of other classifications such as Cognard and Spetzler-Martin. ">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>NeuroTool: Predictions</title>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap-vue.css" />
    <link href="css/VueBootstrapTypeahead.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="css/my.css" />
    <!-- Load polyfills to support older browsers -->
    <script src="js/polyfill.min.js"></script>
    <!-- Required scripts -->
    <script src="scores.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/bootstrap-vue.js"></script>
</head>


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DG3Q62GTQ3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DG3Q62GTQ3');
</script>


<body>
    <div id="app">
        <b-navbar type="dark" variant="info">
            <b-navbar-brand href="index.html">NeuroTool</b-navbar-brand>
            <b-navbar-nav>
                <b-nav-item-dropdown id="dropdown-offset" text="Devices">
                    <b-dropdown-item href="index.html">Device Sizer</b-dropdown-item>
                    <b-dropdown-item href="http://neurointerventionatlas.com/">Primer on Neurointerventional Devices</b-dropdown-item>
                    <b-dropdown-item href="index.html?search=conversion">Unit converter</b-dropdown-item>
                    <b-dropdown-item v-b-modal.help_modal>About</b-dropdown-item>
                </b-nav-item-dropdown>
                <b-nav-item-dropdown id="dropdown-offset" text="Prediction" right>
                    <b-dropdown-item href="calc.html?search=Unruptured aneurysm">Unruptured aneurysm</b-dropdown-item>
                    <b-dropdown-item href="calc.html?search=Dural Arteriovenous Fistula">DAVF</b-dropdown-item>
                    <b-dropdown-item href="calc.html?search=Arteriovenous Malformation">AVM</b-dropdown-item>
                    <b-dropdown-item href="calc.html?search=Carotid stenosis">Carotid Stenosis</b-dropdown-item>
                    <b-dropdown-item href="calc.html?search=Intracranial hypotension">Intracranial Hypotension
                    </b-dropdown-item>
                </b-nav-item-dropdown>
            </b-navbar-nav>
        </b-navbar>
        <b-container fluid="sm">
            <p></p>
            <p></p>
            <div v-if="score!=null">
                <template>
                    <h2>{{score.title}}</h2>
                    <b-form-group label=" Select 1 or more classifications:">
                        <b-form-checkbox-group id="checkbox-group-1" v-model="score.selected" :options="score.types" @change="change()">
                        </b-form-checkbox-group>
                    </b-form-group>
                    </b-form-group>
                    <b-card bg-variant="light">
                        <template v-for="n in score.variables">
                            <b-row class="my-1" :key="n.name" v-if="check_score_type(n.score)">
                                <b-col sm="3">
                                    <label>{{ n.text }}:</label>
                                </b-col>
                                <b-col sm="9">
                                    <b-form-input v-if="n.type == 'text'|| n.type =='number'" :id="`n.name-${n.name}`" :type="n.type" v-model="n.selected" @input="change()">
                                    </b-form-input>
                                    <b-form-select v-if="n.type == 'select'" :id="`n.name-${n.name}`" :options="n.options" v-model="n.selected" @change="change()">
                                    </b-form-select>
                                    <b-form-radio-group v-if="n.type == 'radio'" :id="`n.name-${n.name}`" :options="n.options" v-model="n.selected" @change="change()">
                                    </b-form-radio-group>
                                </b-col>
                            </b-row>
                        </template>
                    </b-card>
                </template>
                <p></p>
                <p></p>
                <b-button @click="calculate()" variant="success">Calculate</b-button>
                <b-button @click="reset()" variant="danger">Reset</b-button>
                <p></p>
                <b-card bg-variant="light" v-show="show_results">
                    <template v-for="n in score.results" class="calc_result">
                        <div v-if="check_score_type(n.name)">
                            <h4>{{n.name}}</h4>
                            <p>{{n.summary}}
                                <b-button variant="link" @click="n.visible = !n.visible">More
                                    information
                                </b-button>
                            </p>
                            <div v-show="n.visible">
                                <p v-if="n.body">{{n.body}}</p>
                                <b-table v-if="n.table"></b-table>
                                <b-img fluid thumbnail v-if=" n.image" :src="n.image"></b-img>
                                <p v-if="n.ref"><b>Reference: </b>{{n.ref}}</p>
                            </div>
                        </div>
                        <p></p>
                    </template>
                    <div id="result_text" class="calc_result"></div>
                </b-card>
            </div>
            <!---------------- MODALS -------------->
            <b-modal id=" help_modal" title="NeuroTool: Help" ok-only>
            </b-modal>
    </div>
    <footer class="text-lg-start " style="background-color: #f5faff; color:rgb(158, 158, 172); margin-top: 100px">
        <div class="container p-4 pb-0">
            <section>
                <div class="row">
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">
                            NeuroTool
                        </h6>
                        <b-link v-b-modal.help_modal>
                            Information on neurointerventinal devices including help with sizing and
                            clinical prediction/classification calculators.
                        </b-link>
                    </div>
                    <hr class="w-100 clearfix d-md-none" />
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Links</h6>
                        <p>
                            <a href="index.html">Device Information</a>
                        </p>
                        <p>
                            <a v-b-modal.conversion_modal style="color: rgb(35, 57, 119)">Unit Converter</a>
                        </p>
                        <p>
                            <a href="calc.html?search=Unruptured aneurysm">Clinical Prediction</a>
                        </p>
                    </div>
                    <hr class="w-100 clearfix d-md-none" />
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                        <p>
                            <b-link href="mailto: jeremy.lynch@gmail.com">Dr Jeremy Lynch</b-link>
                        </p>
                        <p>
                            <b-link href="mailto: jeremy.lynch@gmail.com">Jeremy.Lynch@gmail.com</b-link>
                        </p>
                    </div>
                </div>
            </section>
            <section class="p-3 pt-0 text-center">
                <div class="p-3">
                    © 2022 Copyright Kinech Ltd
                </div>
            </section>
        </div>
    </footer>
    <script>
    /* GENERIC FUNCTIONS */


    function flatten(data) {
        var result = {};

        function recurse(cur, prop) {
            if (Object(cur) !== cur) {
                result[prop] = cur;
            } else if (Array.isArray(cur)) {
                for (var i = 0, l = cur.length; i < l; i++)
                    recurse(cur[i], prop + "[" + i + "]");
                if (l == 0)
                    result[prop] = [];
            } else {
                var isEmpty = true;
                for (var p in cur) {
                    isEmpty = false;
                    recurse(cur[p], prop ? prop + "." + p : p);
                }
                if (isEmpty && prop)
                    result[prop] = {};
            }
        }
        recurse(data, "");
        return result;
    }

    function get_var(name, array) {

        var match = null;
        for (var n = 0; n < array.length; n++) {
            if (array[n].name == name) match = n;
        }

        return array[match];
    }


    /* PREDICTION TOOLS */



    /* GLOBAL VARIABLES */

    window.app = new Vue({

        el: '#app',
        data: {
            id_count: 0,
            score: null,
            show_results: null,

            copyModal: {
                id: 'copy-modal',
                text: "",
                title: "Copy"
            }
        },

        methods: {
            // General functions
            calculate: function() {
                this.change();
                this.show_results = true;
            },
            change: function() {
                this.score.calculate();
            },
            check_score_type: function(str) {
                var list = str.split("/");
                var contains = null;
                for (var n = 0; n < list.length; n++) {
                    if (this.score.selected.includes(list[n])) {
                        contains = true;
                    }
                }
                return contains;
            },
            set_score_type: function(str) {
                this.score = str;
                this.show_results = false;

            },
            reset: function() {
                for (var n = 0; n < this.score.variables.length; n++) {
                    this.score.variables[n].selected = null;
                }
                this.show_results = false;
            },

            created: function() {
                // Format is: ?search=[score]
                const urlSearchParams = new URLSearchParams(window.location.search);
                const params = Object.fromEntries(urlSearchParams.entries()).search;
                if (params == "Unruptured aneurysm") this.set_score_type(aneurysm_risk);
                if (params == "Dural Arteriovenous Fistula") this.set_score_type(avf_risk);
                if (params == "Arteriovenous Malformation") this.set_score_type(avm_risk);
                if (params == "Carotid stenosis") this.set_score_type(carotid_stenosis);
                if (params == "Intracranial hypotension") this.set_score_type(i_hypotension);

            }
        }
    });
    app.created();
    </script>
</body>

</html>
