<!-- TODO


-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>NeuroTool: Predictions</title>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap-vue.css" />
    <link href="css/VueBootstrapTypeahead.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="css/mytemplate.css" />
    <!-- Load polyfills to support older browsers -->
    <script src="js/polyfill.min.js"></script>
    <!-- Required scripts -->
    <script src="scores.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/bootstrap-vue.js"></script>
    <script src="js/lodash.js"></script>
    <script src="js/papaparse.js"></script>
    <!-- Type Ahead Library -->
    <script src="js/VueBootstrapTypeahead.umd.min.js"></script>
</head>

<body>
    <div id="app">

        <b-navbar toggleable="lg" type="dark" variant="info">
            <b-navbar-brand href="#">NeuroTool: Clinical Prediction</b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav>
                </b-navbar-nav>

                <b-navbar-nav class="ml-auto">
                    <b-nav-item-dropdown right>

                        <template #button-content>
                            Help
                        </template>
                        <b-dropdown-item v-b-modal.help_modal>About</b-dropdown-item>
                    </b-nav-item-dropdown>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>


        <b-container fluid="sm">
            <p></p>
            <!--<p><i>“The good thing about standards is that there are so many to choose from.” ― Andrew S. Tanenbaum </i>
            </p>-->

            <b-dropdown right text="Select calculator">
                <b-dropdown-item @click="set_score_type(this.aneurysm_risk)">Unruptured aneurysm</b-dropdown-item>
                <b-dropdown-item @click="set_score_type(this.avf_risk)">Dural arteriovenous fistula</b-dropdown-item>
                <b-dropdown-item @click="set_score_type(this.avm_risk)">Arteriovenous Malformation
                </b-dropdown-item>
                <b-dropdown-item @click="set_score_type(this.carotid_stenosis)">Carotid stenosis</b-dropdown-item>
                <b-dropdown-item @click="set_score_type(this.i_hypotension)">Intracranial hypotension</b-dropdown-item>
            </b-dropdown>

            <p></p>
            <div v-if="score!=null">
                <template>
                    <h2>{{score.title}}</h2>
                    <b-form-group label=" Select 1 or more classifications:">
                        <b-form-checkbox-group id="checkbox-group-1" v-model="score.selected" :options="score.types"
                            @change="change()">
                        </b-form-checkbox-group>
                    </b-form-group>
                    </b-form-group>

                    <b-card bg-variant="light">
                        <template v-for="n in score.variables">
                            <b-row class="my-1" :key="n.name" v-if="check_score_type(n.score)">

                                <b-col sm="3">
                                    <label>{{ n.text }}:</label>
                                </b-col>
                                <b-col sm="9">
                                    <b-form-input v-if="n.type == 'text'|| n.type =='number'" :id="`n.name-${n.name}`"
                                        :type="n.type" v-model="n.selected" @input="change()">
                                    </b-form-input>

                                    <b-form-select v-if="n.type == 'select'" :id="`n.name-${n.name}`"
                                        :options="n.options" v-model="n.selected" @change="change()">
                                    </b-form-select>

                                    <b-form-radio-group v-if="n.type == 'radio'" :id="`n.name-${n.name}`"
                                        :options="n.options" v-model="n.selected" @change="change()">
                                    </b-form-radio-group>
                                </b-col>
                            </b-row>
                        </template>

                    </b-card>

                </template>
                <p></p>
                <p></p>

                <b-button @click="calculate()" variant="success">Calculate</b-button>
                <b-button @click="reset()" variant="danger">Reset</b-button>
                <p></p>

                <b-card bg-variant="light" v-show="show_results">
                    <template v-for="n in score.results" class="calc_result">
                        <div v-if="check_score_type(n.name)">
                            <h4>{{n.name}}</h4>
                            <p>{{n.summary}}
                                <b-button variant="link" @click="n.visible = !n.visible">More
                                    information
                                </b-button>
                            </p>
                            <div v-show="n.visible">
                                <p v-if="n.body">{{n.body}}</p>
                                <b-table v-if="n.table"></b-table>
                                <b-img fluid thumbnail v-if=" n.image" :src="n.image"></b-img>
                                <p v-if="n.ref"><b>Reference: </b>{{n.ref}}</p>

                            </div>
                        </div>
                        <p></p>
                    </template>

                    <div id="result_text" class="calc_result"></div>

                </b-card>
            </div>


            <!---------------- MODALS -------------->

            <b-modal id=" help_modal" title="NeuroTool: Help" ok-only>
            </b-modal>

            <b-container class="footer">
                This tool is for educational purposes only. <b-link href="mailto: jeremy.lynch@gmail.com"> Contact
                    us.
                </b-link>
            </b-container>

    </div>


    <script>
        /* GENERIC FUNCTIONS */


        function flatten(data) {
            var result = {};

            function recurse(cur, prop) {
                if (Object(cur) !== cur) {
                    result[prop] = cur;
                } else if (Array.isArray(cur)) {
                    for (var i = 0, l = cur.length; i < l; i++)
                        recurse(cur[i], prop + "[" + i + "]");
                    if (l == 0)
                        result[prop] = [];
                } else {
                    var isEmpty = true;
                    for (var p in cur) {
                        isEmpty = false;
                        recurse(cur[p], prop ? prop + "." + p : p);
                    }
                    if (isEmpty && prop)
                        result[prop] = {};
                }
            }
            recurse(data, "");
            return result;
        }

        function get_var(name, array) {

            var match = null;
            for (var n = 0; n < array.length; n++) {
                if (array[n].name == name) match = n;
            }

            return array[match];
        }


        /* PREDICTION TOOLS */



        /* GLOBAL VARIABLES */

        window.app = new Vue({

            el: '#app',
            data: {
                id_count: 0,
                score: null,
                show_results: null,

                copyModal: {
                    id: 'copy-modal',
                    text: "",
                    title: "Copy"
                }
            },

            methods: {
                // General functions
                calculate: function () {
                    this.change();
                    this.show_results = true;
                },
                change: function () {
                    this.score.calculate();
                },
                check_score_type: function (str) {
                    var list = str.split("/");
                    var contains = null;
                    for (var n = 0; n < list.length; n++) {
                        if (this.score.selected.includes(list[n])) {
                            contains = true;
                        }
                    }
                    return contains;
                },
                set_score_type: function (str) {
                    this.score = str;
                    this.show_results = false;

                },
                reset: function () {
                    for (var n = 0; n < this.score.variables.length; n++) {
                        this.score.variables[n].selected = null;
                    }
                    this.show_results = false;
                },

                created: function () {
                    // Format is: ?search=[score]
                    const urlSearchParams = new URLSearchParams(window.location.search);
                    const params = Object.fromEntries(urlSearchParams.entries()).search;
                    if (params == "Unruptured aneurysm") this.set_score_type(aneurysm_risk);
                    if (params == "Dural Arteriovenous Fistula") this.set_score_type(avf_risk);
                    if (params == "Arteriovenous Malformation") this.set_score_type(avm_risk);
                    if (params == "Carotid stenosis") this.set_score_type(carotid_stenosis);
                    if (params == "Intracranial hypotension") this.set_score_type(i_hypotension);

                }
            }
        });
        app.created();
    </script>


</body>

</html>