<!-- TODO

	* Associated info display
	* Probably work on spine first
	* Copy templates from radReport

-->

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<title>NeuroTool: Structured Reports</title>
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap-vue.css" />
	<link href="css/VueBootstrapTypeahead.css" rel="stylesheet" />
	<link type="text/css" rel="stylesheet" href="css/my.css" />
	<!-- Load polyfills to support older browsers -->
	<script src="js/polyfill.min.js"></script>
	<!-- Required scripts -->
	<script src="js/vue.js"></script>
	<script src="js/bootstrap-vue.js"></script>
	<!-- Type Ahead Library -->
	<script src="js/VueBootstrapTypeahead.umd.min.js"></script>
</head>

<body>
	<div id="app">

		<b-navbar toggleable="lg" type="dark" variant="info">
			<b-navbar-brand href="#">NeuroTool</b-navbar-brand>

			<b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

			<b-collapse id="nav-collapse" is-nav>
				<b-navbar-nav>
				</b-navbar-nav>

				<b-navbar-nav class="ml-auto">
					<b-nav-item-dropdown right>

						<template #button-content>
							Help
						</template>
						<b-dropdown-item v-b-modal.help_modal>About</b-dropdown-item>
					</b-nav-item-dropdown>
				</b-navbar-nav>
			</b-collapse>
		</b-navbar>

		<b-container>
			<p></p>


			<b-form-group label="Search for template:">
				<vue-bootstrap-typeahead :data="templates" :serializer="item => item.name"
					@hit="selectTemplate($event)">
				</vue-bootstrap-typeahead>
				<p></p>
			</b-form-group>


			<b-form-group>
				<b-button variant="success" @click="copyReport()">Copy Text</b-button>
			</b-form-group>

			<p><label><b>{{template.title}}</b></label></p>

			<label>CLINICAL INDICATION:</label>

			<b-form-group>
				<b-form-textarea v-model="clin_indication" @update="writeTemplate()" placeholder="Enter text">
				</b-form-textarea>
			</b-form-group>

			<label>TECHNIQUE:</label>
			<b-form-group>
				<b-form-textarea placeholder="Enter text">
				</b-form-textarea>
			</b-form-group>

			<label>COMPARISON:</label>
			<b-form-group>
				<b-form-textarea placeholder="Enter text">
				</b-form-textarea>
			</b-form-group>


			<label>FINDINGS:</label>


			<template v-for="n in templateForm">
				<b-form-group :key="n.id" :label="n.label" label-cols="3" label-size="sm"
					v-show="n.type == 'free_text'">
					<b-form-textarea :value=" n.text" :key="n.id"></b-form-textarea>
				</b-form-group>
				<b-form-group :key="n.id" :label="n.label" label-cols="3" label-size="sm"
					v-show="n.type == 'selection'">
					<b-form-select v-model="n.selected" :options="n.options" size="sm"></b-form-select>
					<b-form-textarea :key="n.id" placeholder="Details"></b-form-textarea>
				</b-form-group>
			</template>

			<label>CONCLUSION:</label>
			<b-form-group>
				<b-form-textarea placeholder="Enter text">
				</b-form-textarea>
			</b-form-group>


		</b-container>


		<p></p>
		<p></p>


		<!---------------- MODALS -------------->

		<b-modal id="help_modal" title="NeuroTool: Help" ok-only>
		</b-modal>

		<b-container class="footer">
			This tool is for educational purposes only. <b-link href="mailto: jeremy.lynch@gmail.com"> Contact us.
			</b-link>
		</b-container>

	</div>


	<script>
		/* GENERIC FUNCTIONS */

		function parse_options(str) {
			var list = str;
			if (typeof str === 'string' || str instanceof String) {
				list = str.split("|");
			} else list = null;

			if (Array.isArray(list)) {
				if (isNaN(list[0])) list[0] = null;
			}
			return list;
		}


		function loadXML() {
			var xhttp = new XMLHttpRequest();
			var temp = [];
			xhttp.onreadystatechange = function () {
				if (this.readyState == 4 && this.status == 200) {
					myFunction(this);
				}
			};
			xhttp.open("GET", "http://neurotool.org/templates.xml", true);
			xhttp.send();

			function myFunction(xml) { // Load array of report templates
				var xml_array = [];
				var xmlDoc = xml.responseXML;
				var templates = xmlDoc.getElementsByTagName("TEMPLATE");
				for (var i = 0; i < templates.length; i++) {
					var t_name = xmlDoc.getElementsByTagName("TEMPLATE")[i].getElementsByTagName(
						"NAME")[0].innerHTML.replace(/\t/g, '');
					var t_text = xmlDoc.getElementsByTagName("TEMPLATE")[i].getElementsByTagName(
						"TEXT")[0].innerHTML.replace(/\t/g, '');
					var t_title = xmlDoc.getElementsByTagName("TEMPLATE")[i].getElementsByTagName(
						"TITLE")[0];
					if (t_title == null || t_title == "") {
						t_title = t_name;
					} else {
						t_title = t_title.innerHTML.replace(/\t/g, '');
					}
					temp.push({
						name: t_name,
						text: t_text,
						title: t_title
					});
				}

				var snip_array = []; // Load array of sniplets (parts of report templates)
				var snips = xmlDoc.getElementsByTagName("SNIP");
				for (var i = 0; i < snips.length; i++) {
					var t_name = xmlDoc.getElementsByTagName("SNIP")[i].getElementsByTagName(
						"NAME")[0].innerHTML.replace(/\t/g, '');
					var t_text = xmlDoc.getElementsByTagName("SNIP")[i].getElementsByTagName(
						"TEXT")[0].innerHTML.replace(/\t/g, '');
					snip_array.push({
						name: t_name,
						text: t_text,
					});
				}

				// Substitute snips in to the reports
				var symbol_start = '{{';
				var symbol_end = '}}';
				temp.forEach(item => {
					var text = item.text;
					var n = 0 - symbol_start.length;
					do {
						n = text.indexOf(symbol_start, n + symbol_start.length);
						if (n != -1) {
							end = text.indexOf(symbol_end, n);
							var replace_name = text.substr(n + 2, end - n - 2);
							var find_obj = snip_array.find(find_name => {
								return (find_name.name.trim() == replace_name);
							});

							if (find_obj != null) {
								item.text = item.text.replaceAll(symbol_start + replace_name + symbol_end, find_obj
									.text);
							}
						}
					}
					while (n != -1);
				});

				// Deal with the comments
				var symbol_start = '/*';
				var symbol_end = '*/';
				temp.forEach(item => {
					var text = item.text;
					var n = 0 - symbol_start.length;
					do {
						n = text.indexOf(symbol_start, n + symbol_start.length);
						if (n != -1) {
							end = text.indexOf(symbol_end, n);
							var comment_text = text.substr(n + 2, end - n - 2);
							//console.log(comment_text);

						}
					}
					while (n != -1);
				});

			}

			return temp;

		}

		/* GLOBAL VARIABLES */

		window.app = new Vue({
			components: {
				VueBootstrapTypeahead
			},
			el: '#app',
			data: {
				templates: loadXML(),
				reportText: "",
				clin_indication: "",
				template: "",
				templateForm: []
			},

			methods: {
				// General functions
				findList: function (text, symbol_start, symbol_end) {

					var n = 0 - symbol_start.length;
					do {
						n = text.indexOf(symbol_start, n + symbol_start.length);
						if (n != -1) {
							end = text.indexOf(symbol_end, n);
						}

					} while (n != -1);
					return text;
				},

				// Specific

				selectTemplate: function (event) {
					this.template = event;
					this.writeTemplate();

				},

				/*
				KEY: 
				text -> plain text
				... -> word
				comment -> display before but do not include in report
				[xxx] -> Option this text, or nothing. Include free text.
				[xxx | yyy | zzz] -> These options, or nothing. Include free text. 
				*/

				writeTemplate: function () {

					var text = this.template.text;

					this.templateForm = [];
					var symbol_start = '[';
					var symbol_end = ']';

					var old_cursor = 0;
					var new_cursor = 0;

					do {
						new_cursor = text.indexOf(symbol_start, old_cursor);

						if (new_cursor != -1) {
							if (text.substr(new_cursor, 5) == "[...]") {
								var string_end = text.indexOf(symbol_end, new_cursor + symbol_end.length);
								this.templateForm.push({
									type: "free_text",
									label: text.substr(old_cursor, text.indexOf(symbol_start,
										old_cursor) - old_cursor),
									text: ""
								});
								old_cursor = string_end + symbol_end.length;
							}
							if (text.substr(new_cursor, 5) != "[...]") {
								var string_end = text.indexOf(symbol_end, new_cursor);
								var inside_text = text.slice(old_cursor, new_cursor);
								var input_text = text.slice(new_cursor + symbol_start.length, string_end);


								if (input_text.includes("|")) {
									var options = input_text.split("|");

									this.templateForm.push({
										type: "selection",
										label: inside_text,
										text: input_text,
										options: options
									});

								} else {
									this.templateForm.push({
										type: "free_text",
										label: inside_text,
										text: input_text
									});
								}

								old_cursor = string_end + symbol_end.length;
							}
						}
					}
					while (new_cursor != -1 && new_cursor < text.length);


				},

				copyReport: function () {
					var copyText = this.reportText;

					console.log(this.reportText);
					const listener = function (ev) {
						ev.preventDefault();
						ev.clipboardData.setData('text/plain', copyText);
					};
					document.addEventListener('copy', listener);
					document.execCommand('copy');
					document.removeEventListener('copy', listener);

				}
			}
		});
	</script>


</body>

</html>