<!-- TODO

	* Associated info display
	* Probably work on spine first
	* Copy templates from radReport

-->

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<title>NeuroTool: Structured Reports</title>
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap-vue.css" />
	<link href="css/VueBootstrapTypeahead.css" rel="stylesheet" />
	<link type="text/css" rel="stylesheet" href="css/mytemplate.css" />
	<!-- Load polyfills to support older browsers -->
	<script src="js/polyfill.min.js"></script>
	<!-- Required scripts -->
	<script src="js/vue.js"></script>
	<script src="js/bootstrap-vue.js"></script>
	<!-- Type Ahead Library -->
	<script src="js/VueBootstrapTypeahead.umd.min.js"></script>
</head>

<body>
	<div id="app">

		<b-navbar toggleable="lg" type="dark" variant="info">
			<b-navbar-brand href="#">NeuroTool</b-navbar-brand>

			<b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

			<b-collapse id="nav-collapse" is-nav>
				<b-navbar-nav>
				</b-navbar-nav>

				<b-navbar-nav class="ml-auto">
					<b-nav-item-dropdown right>

						<template #button-content>
							Help
						</template>
						<b-dropdown-item v-b-modal.help_modal>About</b-dropdown-item>
					</b-nav-item-dropdown>
				</b-navbar-nav>
			</b-collapse>
		</b-navbar>

		<b-container>
			<p></p>


			<b-form-group label="Search for template:">
				<vue-bootstrap-typeahead :data="templates" :serializer="item => item.name"
					@hit="selectTemplate($event)">
				</vue-bootstrap-typeahead>

			</b-form-group>

			<b-form-group v-show="template != ''">
				<b-button variant="success" @click="copyReport()">Copy Text</b-button>

				<h1>
					{{template.title}}
				</h1>


				<b-form-group v-show="template != ''">

					<h2>CLINICAL INDICATION:</h2>


					<b-form-textarea v-model="clin_indication" @update="writeTemplate()" placeholder="Enter text"
						rows="0">
					</b-form-textarea>
				</b-form-group>

				<b-form-group>

					<h2>TECHNIQUE:</h2>


					<b-form-textarea placeholder="Enter text" v-show="template.type != 'Angiography'">
					</b-form-textarea>
				</b-form-group>

				<b-form-group v-show="template != '' && template.type != 'Angiography'">

					<h2>COMPARISON:</h2>

					<b-form-textarea placeholder=" Enter text">
					</b-form-textarea>
				</b-form-group>

				<b-form-group v-show="template != '' && template.type != 'Angiography'">
					<h2>FINDINGS:</h2>
				</b-form-group>


				<template v-for="n in templateForm">
					<!-- HEADER TYPE -->

					<h3 v-show="n.type == 'h1'">{{n.text}}</h3>

					<div class="findings">

						<div class="row">

							<div class="control">
								<b-button-group vertical v-show="n.type != 'h1'">
									<b-form-checkbox :key=" n.id" v-model="n.disabled" :value=false
										:unchecked-value=true size="sm">
										Enable
									</b-form-checkbox>
									<b-form-checkbox :key=" n.id" v-model="n.details" size="sm">
										Details
									</b-form-checkbox>
									<b-button size="sm" variant="danger" @click="deleteElement(n)">Delete
									</b-button>
								</b-button-group>

							</div>
							<div class="element">

								<!-- FREE TEXT TYPE -->
								<label v-show="n.type == 'text'">{{n.text}}</label>


								<!-- FREE TEXT TYPE -->
								<b-form-group :key="n.id" :label="n.label" v-show="n.type == 'free_text'"
									:disabled="n.disabled">
									<b-form-textarea :value=" n.text" :key="n.id"></b-form-textarea>
								</b-form-group>

								<!-- TEXT ENTRY TYPE -->
								<b-form-group :key="n.id" :disabled="n.disabled" v-show="n.type == 'text_entry'">

									<label>{{n.label}}</label>
									<b-form-textarea :key="n.id" :value="n.text"></b-form-textarea>

								</b-form-group>

								<!-- SELECTION TYPE -->
								<b-form-group :key="n.id" :label="n.label" :disabled="n.disabled"
									v-show="n.type == 'selection'">
									<b-form-select v-model="n.selected" :options="n.options"
										@input="n.details = Boolean(n.selected)">
									</b-form-select>
								</b-form-group>

								<!-- MULTISELECTION TYPE -->
								<b-form-group v-show=" n.type=='multi_select'" :disabled=" n.disabled">
									<label>{{n.label}}</label>

									<template v-for="nn in n.multi" v-show="n.type == 'multi_select'">

										<b-form-group v-show="nn.options != '' && nn.type == 'multi'">
											<label v-show="nn.label != ''">{{nn.label}}</label>
											<b-form-select :options="nn.options">
											</b-form-select>

										</b-form-group>
									</template>
								</b-form-group>


								<!-- MULTIRADIO TYPE -->
								<b-form-group v-show="n.type == 'multi_radio'" :disabled="n.disabled">
									<template v-for="nn in n.multi">

										<b-form inline v-show="nn.options != '' && nn.type == 'multi'">
											<label class="mb-2 mr-sm-2 mb-sm-0"><b>{{nn.label}}</b></label>
											<b-form-radio-group :options="nn.options" v-model="nn.selected"
												class="mb-2 mr-sm-2 mb-sm-0">
											</b-form-radio-group>
										</b-form>

										<b-form-group v-show="nn.selected > 0">
											<b-form-textarea>Details</b-form-textarea>
										</b-form-group>

									</template>
								</b-form-group>

								<!-- DETAILS BOX -->
								<b-form-group v-show="n.details" :disabled="n.disabled">
									<b-form-textarea :key="n.id">Details</b-form-textarea>
								</b-form-group>

							</div>
						</div>
					</div>
				</template>

				<b-form-group v-show=" template !=''">

					<h2>CONCLUSION:</h2>

					<b-form-textarea placeholder=" Enter text">
					</b-form-textarea>
				</b-form-group>
			</b-form-group>

		</b-container>


		<p></p>
		<p></p>


		<!---------------- MODALS -------------->

		<b-modal id="help_modal" title="NeuroTool: Help" ok-only>
		</b-modal>

		<b-container class="footer">
			This tool is for educational purposes only. <b-link href="mailto: jeremy.lynch@gmail.com"> Contact us.
			</b-link>
		</b-container>

	</div>


	<script>
		/* GENERIC FUNCTIONS */

		function parse_options(str) {
			var list = str;
			if (typeof str === 'string' || str instanceof String) {
				list = str.split("|");
			} else list = null;

			if (Array.isArray(list)) {
				if (isNaN(list[0])) list[0] = null;
			}
			return list;
		}


		function parseFindings(xml, modules) {
			var elements = [];
			for (i = 0; i < xml.length; i++) {
				if (xml[i].nodeName != "#text") {
					let el = {};
					el.type = xml[i].nodeName.trim();
					var disabled = xml[i].getAttribute("disabled");
					if (disabled != null && disabled == "true") {
						el.disabled = true;
					} else {
						el.disabled = false;
					}
					var label = xml[i].getAttribute("label");
					if (label) {
						el.label = label + ": ";
					}


					switch (xml[i].nodeName) {
						default:
							break;
						case "h1":
							el.label = xml[i].innerHTML.trim();
							elements.push(el);
							break;
						case "text":
							el.text = xml[i].innerHTML.trim();

							elements.push(el);
							break;
						case "text_entry":
							el.text = xml[i].innerHTML.trim();
							elements.push(el);
							break;
						case "selection":
							op_values = xml[i].innerHTML.trim().split("|");
							var selected = "";
							el.options = [];
							for (var x = 0; x < op_values.length; x++) {
								el.options.push({
									text: op_values[x],
									value: x
								})
							}

							var showdetailson = xml[i].getAttribute("label");
							console.log(showdetailson);
							elements.push(el);
							break;
						case "multi_select":
							var nodes = xml[i].childNodes;
							el.multi = [];
							for (var n = 0; n < nodes.length; n++) {
								if (nodes[n].nodeName == "select") {
									var inner_text = nodes[n].innerHTML.trim();
									var options = [];
									var type = "";
									if (inner_text.includes("|")) {
										op_values = inner_text.split("|");
										for (var x = 0; x < op_values.length; x++) {
											options.push({
												text: op_values[x],
												value: x
											})
										}
										type = "multi";
									}

									var text = nodes[n].getAttribute("text");
									if (text) text.trim();
									var label = nodes[n].getAttribute("label");
									if (label) label.trim();


									el.multi.push({
										text: text,
										label: label,
										options: options,
										type: type
									});
								}
							}
							elements.push(el);
							break;
						case "multi_radio":
							var nodes = xml[i].childNodes;
							el.multi = [];
							for (var n = 0; n < nodes.length; n++) {
								if (nodes[n].nodeName == "radio") {
									var inner_text = nodes[n].innerHTML.trim();
									var options = [];
									var type = "";
									if (inner_text.includes("|")) {
										op_values = inner_text.split("|");
										for (var x = 0; x < op_values.length; x++) {
											options.push({
												text: op_values[x],
												value: x
											})
										}
										type = "multi";
									} else {
										options[0] = inner_text;
										type = "free_text";
									}

									var label = nodes[n].getAttribute("label") + ": ";
									if (text) text.trim();
									var selected = "";

									el.multi.push({
										label: label,
										options: options,
										type: type,
										selected: selected
									});
								}
							}
							elements.push(el);
							break;
						case "insert":
							el.module = xml[i].innerHTML.trim();
							for (var n = 0; n < modules.length; n++) {
								if (modules[n].name == el.module) {
									elements = elements.concat(modules[n].elements);
								}
							}
							break;
					}

				}
			}
			return elements;
		}

		function parseModules(xml) {
			return parseFindings(xml, null)
		}


		function loadXML() {
			var xhttp = new XMLHttpRequest();
			var temp = [];
			xhttp.onreadystatechange = function () {
				if (this.readyState == 4 && this.status == 200) {
					myFunction(this);
				}
			};
			xhttp.open("GET", "http://neurotool.org/templates_list.xml", true);
			xhttp.send();

			function myFunction(xml) { // Load array of report templates
				var xmlDoc = xml.responseXML;

				var modules_xml = xmlDoc.getElementsByTagName("module");
				var modules = [];
				for (var i = 0; i < modules_xml.length; i++) {
					var m_name = xmlDoc.getElementsByTagName("module")[i].getElementsByTagName(
						"name")[0].innerHTML.replace(/^\s+|\s+$/g, '');
					var m_content = xmlDoc.getElementsByTagName("module")[i].getElementsByTagName(
						"content")[0].childNodes;
					var elements = parseModules(m_content);
					modules.push({
						name: m_name,
						elements: elements
					});

				}

				var templates = xmlDoc.getElementsByTagName("template");
				for (var i = 0; i < templates.length; i++) {
					var t_name = xmlDoc.getElementsByTagName("template")[i].getElementsByTagName(
						"name")[0].innerHTML.replace(/\t/g, '');
					var t_type = xmlDoc.getElementsByTagName("template")[i].getElementsByTagName(
						"type")[0].innerHTML.replace(/\t/g, '').trim();
					var t_title = xmlDoc.getElementsByTagName("template")[i].getElementsByTagName(
						"title")[0];
					if (t_title == null || t_title == "") {
						t_title = t_name;
					} else {
						t_title = t_title.innerHTML.replace(/\t/g, '');
					}
					var t_findings = xmlDoc.getElementsByTagName("template")[i].getElementsByTagName(
						"findings")[0].childNodes;
					var elements = parseFindings(t_findings, modules);


					temp.push({
						name: t_name,
						title: t_title,
						type: t_type,
						elements: elements
					});
				}



			}

			return temp;

		}

		/* GLOBAL VARIABLES */

		window.app = new Vue({
			components: {
				VueBootstrapTypeahead
			},
			el: '#app',
			data: {
				templates: loadXML(),
				reportText: "",
				clin_indication: "",
				template: "",
				templateForm: []
			},

			methods: {
				// General functions
				findList: function (text, symbol_start, symbol_end) {

					var n = 0 - symbol_start.length;
					do {
						n = text.indexOf(symbol_start, n + symbol_start.length);
						if (n != -1) {
							end = text.indexOf(symbol_end, n);
						}

					} while (n != -1);
					return text;
				},

				// Specific

				selectTemplate: function (event) {
					this.template = event;
					this.writeTemplate();
				},



				writeTemplate: function () {
					this.templateForm = [];

					var elements = this.template.elements;
					for (var n = 0; n < elements.length; n++) {
						var el = {};
						el.array_id = n;
						el.disabled = elements[n].disabled
						el.label = elements[n].label;
						el.type = elements[n].type;

						switch (elements[n].type) {
							case "h1":
								el.text = elements[n].label;
								break;
							case "text":
								el.text = elements[n].text;
								break;
							case "text_entry":
								el.text = elements[n].text;
								break;
							case "selection":
								el.options = elements[n].options;
								break;
							case "multi_select":
								el.multi = elements[n].multi;
								break;
							case "multi_radio":
								el.multi = elements[n].multi;

								break;

							default:
								break;
						}
						this.templateForm.push(el);


					}


				},
				deleteElement(element) {
					var index = this.templateForm.findIndex(function (i) {
						return i.array_id == element.array_id;
					})
					this.templateForm.splice(index, 1);
				},


				copyReport: function () {
					var copyText = this.reportText;

					console.log(this.reportText);
					const listener = function (ev) {
						ev.preventDefault();
						ev.clipboardData.setData('text/plain', copyText);
					};
					document.addEventListener('copy', listener);
					document.execCommand('copy');
					document.removeEventListener('copy', listener);

				}
			}
		});
	</script>


</body>

</html>